name: Test package

on:
  push:
    branches: [main, dev]
  workflow_dispatch:

jobs:
  tests:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"
          cache: "pip"

      - name: Install dependencies
        working-directory: .
        run: |
          python -m pip install --upgrade pip
          python -m pip install -e .[test]

      - name: Run tests
        run: pytest tests
